<ul class="nav nav-tabs" style="margin-bottom: 10px">
  <li class="nav-item"><a class="nav-link" routerLink="../"><i class="fa fa-chevron-left glyphicon glyphicon-chevron-left"></i></a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="view" routerLinkActive="active">View</a></li>
  <li class="nav-item" routerLinkActive="active" *ngIf="perms.edit"><a class="nav-link" routerLink="edit" routerLinkActive="active">Edit</a></li>
  <li class="nav-item" routerLinkActive="active" *ngIf="perms.delete"><a class="nav-link" routerLink="delete" routerLinkActive="active"><span class="fa fa-trash glyphicon glyphicon-trash"></span></a></li>
</ul>
<router-outlet></router-outlet>
