<div class="loader" *ngIf="loading"></div>
<div class="form-group row">
  <div class="col-sm-8">
    <input type="text" class="form-control" id="formTitle" placeholder="Enter a Title" #title>
  </div>
  <div class="col-sm-2">
    <select class="form-control" id="formSelect" (change)="onDisplaySelect($event)" #type>
      <option value="form">Form</option>
      <option value="wizard">Wizard</option>
      <option value="pdf">PDF</option>
    </select>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary btn-block" (click)="onSave()">Save Form</button>
  </div>
</div>
<formio-alerts [alerts]="alerts"></formio-alerts>
<form-builder *ngIf="formReady" [formbuilder]="config.builder" [form]="form" #builder></form-builder>
<button class="btn btn-primary" style="margin-top: 10px;" (click)="onSave()">Save Form</button>
