<ng-template #headerTemplate></ng-template>
<ng-template #bodyTemplate></ng-template>
<ng-template #footerTemplate></ng-template>
<div class="formio-grid">
  <formio-alerts [alerts]="alerts"></formio-alerts>
  <table class="table table-bordered table-striped table-hover">
    <ng-container *ngIf="initialized" [ngTemplateOutlet]="header.template"></ng-container>
    <formio-loader></formio-loader>
    <ng-container *ngIf="initialized" [ngTemplateOutlet]="body.template"></ng-container>
    <ng-container *ngIf="initialized" [ngTemplateOutlet]="footer.template"></ng-container>
  </table>
</div>
