.formio-grid {
  position: relative;
  width: 100%;
}

ul.pagination {
  margin: 5px 0;
}

.item-counter {
  margin: 5px 0;
}

.page-num {
  font-size: 1.4em;
}

.grid-refresh {
  height: 400px;
  width: 100%;
}
