<a *ngIf="downloadUrl" [href]="downloadUrl" target="_blank" class="float-end"><img src="https://pro.formview.io/assets/pdf.png" alt="pdfImage" style="height: 2em;" /></a>
<ul aria-label="Submission" role="navigation" class="nav nav-tabs" style="margin-bottom:10px">
  <li class="nav-item"><a class="nav-link" routerLink="../"><em class="fa fa-chevron-left bi bi-chevron-left"></em></a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="view" routerLinkActive="active"><em class="fa fa-eye bi bi-eye"></em> View</a></li>
  <li class="nav-item" routerLinkActive="active" *ngIf="service.perms.edit"><a class="nav-link" routerLink="edit" routerLinkActive="active"><em class="fa fa-edit bi bi-pencil-square"></em> Edit</a></li>
  <li class="nav-item" routerLinkActive="active" *ngIf="service.perms.delete"><a class="nav-link" routerLink="delete" routerLinkActive="active"><span class="fa fa-trash bi bi-trash"></span></a></li>
</ul>
<router-outlet></router-outlet>
