<ul class="nav nav-tabs" style="margin-bottom:10px">
  <li class="nav-item"><a class="nav-link" routerLink="../"><i class="fa fa-chevron-left glyphicon glyphicon-chevron-left"></i></a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="submission" routerLinkActive="active"><i class="fa fa-list-alt glyphicon glyphicon-list-alt"></i> Users</a></li>
  <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="view" routerLinkActive="active"><i class="fa fa-pencil glyphicon glyphicon-pencil"></i> Invite</a></li>
</ul>
<router-outlet></router-outlet>
