<h3>Data Tables</h3>
<p>The data table is provided through the <code>FormioGridModule</code>, and provides you a way to easily embed a data table within your application with the following code.</p>
<pre class="text-center"><code class="language-markup">&lt;formio-grid src="https://examples.form.io/company"&gt;&lt;/formio-grid&gt;</code></pre>
<a class="btn btn-primary" href="https://github.com/formio/angular-formio/wiki" style="margin-bottom: 20px;"><span class="glyphicon glyphicon-book"></span> Data Table Documentation</a>
<formio-grid src="{{ config.appUrl }}/company"></formio-grid>
