<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">angular-formio</a>
    </div>
    <ul class="nav navbar-nav hidden-xs">
      <li routerLinkActive="active"><a routerLink="forms">Examples</a></li>
      <li routerLinkActive="active"><a routerLink="auth">Authentication</a></li>
      <li routerLinkActive="active"><a routerLink="data">Data Table</a></li>
      <li routerLinkActive="active"><a routerLink="event">CRUD</a></li>
      <li><a href="https://github.com/formio/angular-formio/wiki">Documentation</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!auth.authenticated"><a routerLink="auth"><span class="glyphicon glyphicon-log-in"></span> Login | Register</a></li>
      <li class="navbar-link" *ngIf="auth.authenticated"><a (click)="auth.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container container-demo">
  <router-outlet></router-outlet>
</div>
