<div class="jumbotron">
  <h2>JavaScript Powered Forms for Angular 5 by <a href="https://form.io" target="_blank"><img height="25px;" style="display: inline;" alt="Form.io" src="https://help.form.io/assets/formio-logo.png"></a></h2>
  <p>This library provides JavaScript powered forms for Angular 5. This allows you to render the JSON schema forms produced by Form.io and render those within your application using Angular 5, as well as provides an interface SDK to communicate to the Form.io API's. The benefits of this library include.</p>
  <ul>
    <li>Renders a JSON schema as a webform and hooks up that form to the Form.io API's</li>
    <li>Nested components, layouts, Date/Time, Select, Input Masks, and many more included features</li>
    <li>Full JavaScript API SDK library on top of Form.io</li>
  </ul>
</div>

<h3>Simple Example</h3>
<pre class="well text-center" style="font-size:1.2em;">&lt;formio src="https://examples.form.io/example"&gt;&lt;/formio&gt;</pre>

<h3>Result</h3>
<div class="well">
  <formio src="https://examples.form.io/example"></formio>
</div>
