<div class="jumbotron" style="margin-bottom: 10px">
  <h2>JavaScript Powered Forms for <a href="https://angular.io"><img style="height:2em;" src="https://angular.io/assets/images/logos/angular/angular.png" /></a> by <a href="https://form.io" target="_blank"><img style="height: 1.3em;display: inline;" alt="Form.io" src="https://help.form.io/assets/formio-logo.png"></a></h2>
  <p>This library provides JavaScript powered forms for <a target="_blank" href="https://angular.io">Angular</a>. This allows you to render the JSON schema forms produced by Form.io and render those within your application using Angular 5, as well as provides an interface SDK to communicate to the Form.io API's. The benefits of this library include.</p>
  <ul>
    <li>Renders a JSON schema as a webform and hooks up that form to the Form.io API's</li>
    <li>Nested components, layouts, Date/Time, Select, Input Masks, and many more included features</li>
    <li>Full JavaScript API SDK library on top of Form.io</li>
  </ul>
</div>
<div class="card" style="margin-bottom: 10px">
  <div class="card-body">
    <h5 class="card-title">Example</h5>
    <div class="card bg-light p-3">
      <pre class="text-center"><code style="font-size:1.2em;" class="language-markup">&lt;formio src="{{ config.appUrl }}/example"&gt;&lt;/formio&gt;</code></pre>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Result</h5>
    <div class="card bg-light p-3">
      <formio src="{{ config.appUrl }}/example"></formio>
    </div>
  </div>
</div>
